* {
  box-sizing: border-box;
}

body {
  background-color: #f8ecd6;
  color: #000;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr; /* 2 columns in the grid-first part is 3 parts the size of the next part*/
  grid-template-rows: 10vh 80vh 10vh; /* grid split into 7 parts. vh changes the size of the 3 template rows*/
}

/*GRID STYLES */

/*grid-area order:

grid-row-start
grid-column-start
grid-row-end
grid-column-end

*/
/* header to take up the whole first row*/
header {
  grid-area: 1 / 1 / 2 / 3; /*this takes the header right along the top from GL 1 - 3*/
  background-color: #f8ecd6;
  color: black;
  border: 1px solid #6d72c3;
}

#results {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #f8ecd6;
  color: black;
  border: 1px solid #6d72c3;
}

#main-container {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #f8ecd6;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #6d72c3;
}

footer {
  grid-area: 3 / 1 / 4/ 3;
  background-color: #2329a8;
}
